{% extends 'common/base_blog.html' %}

{% block title %}Detail{% endblock %}
{% block style %}
    <style>
        @media only screen and (max-width: 768px) {
            .img-mobile {
                width: 100%;
                height: auto;
            }
        }

        .card-title {
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
            font-size: 1em;
        }

    </style>
{% endblock %}

{% block suite-contenu %}
    <div class="row">
        <div class="col-12">
            <img src="{{ article.img.url }}" style="object-fit: cover;"
                 alt="photo d'ullustration" class="rounded img-mobile">
            {% autoescape off %}
                <h1 class="card-title">{{ article.titre }}</h1>
                <br>
                <div class="content">{{ article.content }}</div>
                <br>
                <p class="text-right">Article publié par <span
                        class="fw-bold">{{ article.auteur.username|upper }}</span>
                    le
                    <span class="fst-italic fw-bold">{{ article.date_creation }}</span></p>
            {% endautoescape %}
        </div>
        {% if user.is_authenticated %}
            <div class="col-12">

                <p class="inline-group"><a href="javascript:void(0)" id="share3"><span
                        class="glyphicon glyphicon-share"></span>Partager</a>
                    {% if user == auteur %} <a class="btn btn-warning btn-lg"
                                               href="{% url 'blog:modifier-article' article.slug %}">Modifier
                        cet
                        article</a>
                    {% endif %}</p>
                <form action="{% url 'blog:comment-article' article.slug %}" class="form-inline"
                      method="post">
                    {% csrf_token %}
                    <textarea class="form-control contact-input" name="comment"></textarea>
                    <input class="form-control btn btn-primary" type="submit" value="commenter">
                </form>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-uppercase text-black-50">Les commentaires</h1>
            {% for comment in comments %}
                <dl>
                    <dt>{% if comment.user.username %}{{ comment.user.username }}{% else %}NON
                        IDENTIFIE{% endif %}
                    </dt>
                    <dd class="ms-3">{{ comment.content }}</dd>
                </dl>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        let share3 = document.getElementById("share3")
        share(share3, "Les articles de codeangel", "https://codeangel.pythonanywhere.com/blog/")

        // Supposons que vous ayez un élément avec une classe "content" contenant votre texte
        let contentElement = document.querySelector('.content');

        // Utilisez jQuery pour rechercher toutes les occurrences de '**' dans le contenu
        $(contentElement).html(function (index, oldHtml) {
            return oldHtml.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>');
        });
        $(contentElement).html(function (index, oldHtml) {
            return oldHtml.replace(/#(.*?)#/g, '<strong style="font-size: ' +
                '40px">$1</strong>');
        });
    </script>
{% endblock %}
