{% extends 'common/base.html' %}

{% block title %}Qui est-il?{% endblock %}
{% block bodyId %}a-propos{% endblock %}

{% block contenu %}
<div class="container">
    <div class="row fs-4">
        <div class="col-md-6 ligne row1">
            <div class="body">
                <h2>Qui suis-je</h2>
                <p>
                    hello evry body 🫡<br>je suis Moussa MALLE, connu dans le
                    monde du code sous le pseudonyme CodeANGEL. Je suis étudiant en
                    licence 2 informatique et passionné par le développement web.
                </p>
            </div>
            <div class="triangle triangle2"></div>
        </div>

        <div class="col-md-6 ligne row2">
            <div class="body">
                <h2>Mon Parcours</h2>
                <p>
                    Depuis que j'ai commencé mes études en informatique,
                    j'ai été captivé par le monde du développement web.
                    J'ai découvert que créer des sites et des applications web était non
                    seulement fascinant, mais aussi une façon puissante de donner vie à des
                    idées et de résoudre des problèmes.
                </p>
            </div>
            <div class="triangle triangle1"></div>
        </div>

        <div class="col-md-6 ligne row2">
            <div class="body">
                <h2>Mes compétances</h2>
                <p>
                    En tant que développeur web, j'ai acquis une solide
                    compréhension des langages de programmation tels que HTML
                    , CSS et JavaScript. J'ai également exploré des frameworks
                    populaires comme Django et des bibliothèques telles que
                    React.js. <br><br>
                    Je suis capable de concevoir des interfaces utilisateur
                    attrayantes et réactives, de créer des fonctionnalités
                    dynamiques et interactives, et de collaborer avec des
                    équipes pour développer des projets web de qualité.
                </p>
            </div>
            <div class="triangle triangle1"></div>
        </div>

        <div class="col-md-6 ligne row1">
            <div class="body">
                <h2>Mes projets</h2>
                <p>
                    Au cours de mes études et de mon temps libre, j'ai travaillé
                    sur divers projets web, allant de sites web personnels à des
                    applications plus complexes. J'ai également contribué à des
                    projets open source, ce qui m'a permis de développer mes
                    compétences et d'apprendre des meilleures pratiques de l'industrie.
                    <p><a href="{% url 'mysite:projets' %}">En savoir plus sur mes projets</a></p>
                    <br>Mon objectif est de
                    continuer à explorer de nouvelles
                    technologies et à développer des projets innovants qui
                    offrent une expérience utilisateur exceptionnelle.
                </p>
            </div>
            <div class="triangle triangle2"></div>
        </div>
        <div class="col-md-6 ligne row1">
            <div class="body">
                <h2>Ma vision</h2>
                <p>
                    En tant que développeur web, je crois en l'importance de
                    créer des solutions technologiques qui améliorent la vie des
                    utilisateurs. Je m'efforce de concevoir des applications
                    conviviales, accessibles et efficaces qui répondent aux besoins
                    des utilisateurs tout en respectant les normes de l'industrie.
                    <br><br>Je suis constamment à la recherche de nouvelles
                    opportunités de développement professionnel, de
                    collaboration et d'apprentissage pour continuer à
                    développer mes compétences et à contribuer au monde du web.
                </p>
            </div>
            <div class="triangle triangle1"></div>
        </div>
    </div>

</div>
{% endblock %}

