* {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
a:hover{
    color: white;
}
body {
    background-color: #042a2b;
    color: white;
}

.trans {
    background-color: yellow;
}

#annim-cv-download {
    animation-name: cvAnnim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-color: blue;
    color: blue;
    font-size: 2em;
}
#contact{
    font-size: large;
    animation-name: conatct;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes conatct {
    to {
        box-shadow: 0 0 5px 10px #8D0033;
    }
}

@keyframes cvAnnim {
    to {
        box-shadow: 0 0 5px 10px blue;
    }
}

.talents > div > h2 {
    color: #8D0033;
    background-color: white;
}

.panel-body {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
}

#panel-body-contact {
    background-color: white;
    color: #000;
}

.body {
    margin-bottom: 20px;
}

.row1 {
    background-color: black;
    opacity: 80%;
}

@media only screen and (max-width: 768px) {

    .row1 {
        background-color: rgba(0, 0, 0, 0.85);
        opacity: 80%;
    }

    .row2 {
        background-color: #042a2b;
        color: white;
    }


    body#a-propos .ligne.row1 {
        box-shadow: none;
        border: none;
    }

    .triangle {
        width: 100%;
        margin: 0;
        height: 100px;
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
    }

    .triangle2 {
        background-color: #042a2b;
    }

    .triangle1 {
        background-color: rgba(0, 0, 0, 0.85);
        opacity: 80%;
    }

    .col-md-6.ligne {
        padding: 0;
    }

    .col-md-6.ligne .body {
        padding: 0 10px;
    }

    .body > p {
        margin-bottom: 0;
    }

}